.asoundrc
.bash_history
.bash_logout
.bashrc
.cache
.config
.dbus
Desktop
Documents
Downloads
.gconf
.gstreamer-0.10
.local
.Mathematica
.mozilla
Music
node_modules
RCCar/experiments/7.turnPowerTests/node_modules
.node-red
.npm
Pictures
.profile
Public
python_games
.sonic-pi
.ssh
Templates
test.jpg
.themes
throw1
.thumbnails
tmp
Videos
.WolframEngine
.Xauthority
.xsession-errors
.xsession-errors.old
main
opencv-3.1.0
