.asoundrc
.bash_history
.bash_logout
.bashrc
.cache
.config
.dbus
Desktop
Documents
Downloads
.gconf
.gstreamer-0.10
.local
.Mathematica
.mozilla
Music
.node-red
Pictures
.profile
Public
python_games
.sonic-pi
.ssh
Templates
test.jpg
.themes
throw1
.thumbnails
Videos
.WolframEngine
.Xauthority
.xsession-errors
.xsession-errors.old
main
